@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS A SYSCO SOLUCION EN  TECNOLOGIA</h1>
    <p>EMPRESA INNOVADORA CON 25 AÑOS EN EL MERCADO EN SUBLIMACION CENTRO AUTORIZADO EPSON MEXICO
    <img src="img/22.jpg" style="width: 1400px;">
</div>
<h2 style="color: green " align="center">INTEGRANTES:</h2>
<div class="accordion" id="accordionExample" align="center">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ---> LUIS ARGUELLO ARGUELLO CUENTA-20009753
                </button>
            </h2>
        </div>
        <h2 style="color: black" align="center"></h2>
<div class="accordion" id="accordionExample" align="center">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ---> AMERICA DANIELA CERROS FRANCO CUENTA-21049825
                </button>
            </h2>
        </div>
        <h2 style="color: green" align="center"></h2>
<div class="accordion" id="accordionExample" align="center">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ---> ERICK HANIEL JIMENEZ GARCIA CUENTA-18160606
                </button>
            </h2>
        </div>
        <h2 style="color: black" align="center"></h2>
<div class="accordion" id="accordionExample" align="center">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ---> ERIC CEJUDO GARCIA CUENTA-15194571
                </button>
            </h2>
        </div>
